<div id="search" class="input-group">
  <div class="uk-flex">
    <input class="uk-input" type="text" name="search" value="{{ search }}" placeholder="{{ text_search }}" />
    <button class="uk-button uk-button-default uk-margin-small-left" type="button">Search</button>
  </div>
</div>
