<div id="offcanvas-nav" uk-offcanvas="overlay: true; flip: false;">
  <div class="uk-offcanvas-bar">
    <ul class="uk-nav uk-nav-default uk-nav-parent-icon" uk-nav>
      {% for category in categories %}
    <li class="{% if category.children %}uk-parent{% endif %} {% if current_category_id == category.category_id %}uk-active uk-open{% endif %}">
        <a href="{{ category.href }}">{{ category.name }}</a>
        {% if category.children %}
        <ul class="uk-nav-sub">
          {% for child in category.children %}
          <li class="{% if current_child_category_id == child.category_id %}uk-active{% endif %}">
            <a href="{{ child.href }}">{{ child.name }}</a>
          </li>
          {% endfor %}
        </ul>
        {% endif %}
      </li>
      {% endfor %}
    </ul>
  </div>
</div>
