{% if modules %}
{% set i = 0 %}
<aside id="sidebar-left" class="uk-card uk-card-default uk-card-small uk-border-rounded">
  {% for module in modules %}
{% if i > 0 %} <hr class="uk-margin-remove" /> {% endif %}
  {% set i = i + 1 %}
  <div class="uk-padding-small">
    {{ module }}
  </div>
  {% endfor %}
</aside>
{% endif %}
