<!DOCTYPE html>
<html lang="en">
<head>

  <title>Maintaince</title>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">

  <!-- UIkit CSS -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/uikit@3.6.20/dist/css/uikit.min.css" />

  <!-- UIkit JS -->
  <script src="https://cdn.jsdelivr.net/npm/uikit@3.6.20/dist/js/uikit.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/uikit@3.6.20/dist/js/uikit-icons.min.js"></script>
  
</head>


<body>


  <div id="common-maintenance" class="uk-container">
    <div class="row uk-flex uk-flex-middle" uk-height-viewport="expand: true">
      <div class="col-12">{{ message }}</div>
    </div>
  </div>


</body>

</html>
