<h1>{{ heading_title }}</h1>

<div class="uk-alert uk-alert-danger">{{ error }}</div>

<div class="buttons uk-text-right">
  <a href="{{ continue }}" class="btn btn-primary">{{ button_continue }}</a>
</div>