<div class="carousel uk-background-muted uk-padding-small">
  <div uk-slider>

    <div class="uk-position-relative uk-visible-toggle">

      <div class="uk-slider-container">

        <ul class="uk-slider-items uk-child-width-1-5@l uk-child-width-1-4@s  uk-child-width-1-3 uk-grid">
          {% for banner in banners %}
          <li>
            <div class="uk-position-relative uk-text-center">
              <img src="{{ banner.image }}" alt="{{ banner.title }}" loading="lazy" />
              {% if banner.link %}
                <a href="{{ banner.link }}" title="{{ banner.title }}" class="uk-position-cover"></a>
              {% endif %}
            </div>
          </li>
          {% endfor %}
        </ul>

        <div class="uk-visible@l">
          <a class="uk-position-center-left" href="#" uk-slidenav-previous uk-slider-item="previous"></a>
          <a class="uk-position-center-right" href="#" uk-slidenav-next uk-slider-item="next"></a>
        </div>

      </div>

    </div>

    <ul class="uk-slider-nav uk-dotnav uk-hidden@l uk-flex-center uk-margin-top"></ul>

  </div>
</div>