<div class="slideshow uk-background-primary uk-light">
  <div class="uk-position-relative uk-visible-toggle" tabindex="-1" uk-slideshow>

    <ul class="uk-slideshow-items">
      {% for banner in banners %}
        <li>
          <img src="{{ banner.image }}" alt="{{ banner.title }}" uk-cover />
          {% if banner.link %}
            <a href="{{ banner.link }}" title="{{ banner.title }}" class="uk-position-cover"></a>
          {% endif %}
        </li>
      {% endfor %}
    </ul>

    <a class="uk-position-center-left uk-position-small uk-hidden-hover" href="#" uk-slidenav-previous uk-slideshow-item="previous"></a>
    <a class="uk-position-center-right uk-position-small uk-hidden-hover" href="#" uk-slidenav-next uk-slideshow-item="next"></a>

    <ul class="uk-slideshow-nav uk-dotnav uk-flex-center uk-padding uk-position-bottom uk-width-1-1"></ul>
    
  </div>
</div>